# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
libft
*.lib
*.a
*.la
*.lo

# Executables
server
client
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Mac OS files
.vscode
.DS_Store
